<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:300,400,700">
	<link rel="stylesheet" href="assets/fonts/ionicons.min.css">
	<link rel="stylesheet" href="assets/css/Contact-Form-Clean.css">
	<link rel="stylesheet" href="assets/css/Footer-Dark.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/pikaday/1.6.1/css/pikaday.min.css">
	<title>聊天广场</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="assets/css/style.css">
</head>
<body>
<header>
	<a class="button" href="/home">返回</a>
	<style type="text/css">
		.bottom-section {
			position: absolute;
			bottom: 0;
		}
	</style>
	<form id="my-new-form" style="float: right;">
		<input id="touser" name="touser" id="input-touser" placeholder="输入收件人">
		<a class="button" onclick="creatNewMail()"  >新建留言</a>
	</form>
	
	
</header>

<main>
	{{$username := .username}}
	{{range $index, $ele := .stuArr }}
	 	{{if eq $ele.To  $username}}
			<section id="message-list">
				<article class="message">
					<h2 class="message-title">{{ $ele.Name }}</h2>
					
					<span style="color:gray;"><small>{{ $ele.Time }}</small></span>
					<p class="message-content">{{ $ele.Content }}</p>

					<div style="position: absolute;  right: 10%;">
						<button class="button2" onclick="showInputBox()">Click Me</button>
					</div>

					

				</article>
				<!-- 多个留言文章 -->
			</section>
	 	{{ end }}
	 {{ end }}
	 <section id="message-list" class="bottom-section">
		<article class="message">
			<h2 class="message-title"> </h2>
			<span style="color:gray;"><small> </small></span>
			<p class="message-content"> </p>
		</article>
	</section>

</main>

<footer id="input-box">
	<form id="my-form">
		<input id="message" name="message" type="text" id="input-field" placeholder="请输入留言内容...">
		<button type="submit" onclick="submitForm()">发表留言</button>
	</form>
</footer>
<script>
	var touser

	//这两个函数用来显示输入框 并获取收件人
	function showInputBox() {
		// 显示输入框
		document.getElementById("input-box").style.display = "block";
		// 获取 article 元素
		var button = document.querySelector('button');
		var article = button.closest('article');

		// 获取 article 元素下的 h2 元素
		var h2 = article.querySelector('h2');

		// 获取 h2 的文本内容
		touser = h2.textContent;
	}

	function creatNewMail() {
		// 显示输入框
		document.getElementById("input-box").style.display = "block";
		// 获取 article 元素
		//var button = document.querySelector('button');
		var form = document.getElementById("my-new-form");
		var formData = new FormData(form);
		touser = formData.get("touser")
		
	}
	function submitForm() {
		
		// 获取表单对象
		var form = document.getElementById("my-form");
		
		// 创建FormData对象，将input标签中的值打包成表单数据
		var formData = new FormData(form);
		formData.append('touser', touser)
		// 发送POST请求，将打包后的表单数据发送给后端
		fetch("/square", {
			method: 'POST',
			body: formData
		}).then(response => response.text())
		.then(data => alert(data))
		.catch(error => console.error(error))
		alert("您输入了：" + formData.get("message"));	
	}
</script>
</body>
</html>
